@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enable dark mode by default */
@media (prefers-color-scheme: dark) {
    body {
      --tw-bg-opacity: 1 !important;
      background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
    }
}

#modal {
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: fade-slide-in-from-top 0.3s ease-in-out;
}

#modal::backdrop {
  background: rgba(0, 0, 0, 0.65);
}

@keyframes fade-slide-in-from-top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}